.btn {
  display: inline-block;
  font-size: 1.25rem;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: hsl(212, 88%, 62%);
  box-shadow: 0 1px hsla(0, 0%, 0%, .2);

  &:active {
    background-color: hsl(212, 100%, 86%);
  }
}
